<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baxter">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baxter">
        <activity
            android:name="com.example.baxter.PumpActivity3"
            android:exported="false" />
        <activity
            android:name="com.example.baxter.PumpActivity25"
            android:exported="false" />
        <activity
            android:name="com.example.baxter.PatientActivity25"
            android:exported="false" />
        <activity
            android:name="com.example.baxter.Login"
            android:exported="false" />
        <activity
            android:name="com.example.baxter.PatientActivity3"
            android:exported="false" />
        <activity
            android:name="com.example.baxter.PatientActivity2"
            android:exported="false" />
        <activity
            android:name="com.example.baxter.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.baxter.PatientActivity1"
            android:exported="false" />
        <activity
            android:name="com.example.baxter.PumpActivity2"
            android:exported="false" />
        <activity
            android:name="com.example.baxter.Pump1"
            android:exported="false" />
        <activity
            android:name="com.example.baxter.PumpActivity1"
            android:exported="false" />
    </application>

</manifest>